body {
  font-family: fontstack('Extra Stack');
}

h1 {
  font-family: 'simhei', fontstack('extra stack');
}

h2 {
  font-family: 'simhei', fontstack('extra Stack');
}

h3 {
  font-family: 'simhei', fontstack('EXTRA STACK');
}
