body {
  font-family: "Extra Stack", "Moar Fonts", Extra, serif;
}

h1 {
  font-family: 'simhei', "Extra Stack", "Moar Fonts", Extra, serif;
}

h2 {
  font-family: 'simhei', "Extra Stack", "Moar Fonts", Extra, serif;
}

h3 {
  font-family: 'simhei', "Extra Stack", "Moar Fonts", Extra, serif;
}
